# BOSS - Mundo 1

##### O objetivo é unificar os dados em um único DataFrame e realizar uma série de operações de limpeza e filtragem para garantir a integridade do conjunto de dados.

---

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('pokedex_(Update_05.20).csv')

***Remoção de duplicatas: Verifique a existência de registros duplicados no DataFrame consolidado e elimine-os para garantir a unicidade dos dados.***

In [5]:
df_unique = df.drop_duplicates()
df_unique

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,...,2.0,1.0,1.0,0.50,2.00,1.0,1.0,1.0,0.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,1023,888,Zacian Hero of Many Battles,NaN,NaN,8,Legendary,Warrior Pokémon,1,Fairy,...,1.0,1.0,1.0,0.50,1.00,1.0,0.0,0.5,2.0,1.0
1024,1024,889,Zamazenta Crowned Shield,NaN,NaN,8,Legendary,Warrior Pokémon,2,Fighting,...,2.0,1.0,1.0,0.25,0.25,1.0,0.5,0.5,0.5,1.0
1025,1025,889,Zamazenta Hero of Many Battles,NaN,NaN,8,Legendary,Warrior Pokémon,1,Fighting,...,1.0,2.0,2.0,0.50,0.50,1.0,1.0,0.5,1.0,2.0
1026,1026,890,Eternatus,NaN,NaN,8,Legendary,Gigantic Pokémon,2,Poison,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0
1027,1027,890,Eternatus Eternamax,NaN,NaN,8,Legendary,Gigantic Pokémon,2,Poison,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0

***Remover colunas irrelevantes: Analise as colunas presentes e exclua aquelas que não são relevantes para a análise***

In [8]:
relevant_columns = ['name', 'status', 'type_1', 'type_2', 'total_points', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense', 'speed']
df_cleaned = df_unique[relevant_columns]

df_cleaned

,name,status,type_1,type_2,total_points,hp,attack,defense,sp_attack,sp_defense,speed
0,Bulbasaur,Normal,Grass,Poison,318.0,45.0,49.0,49.0,65.0,65.0,45.0
1,Ivysaur,Normal,Grass,Poison,405.0,60.0,62.0,63.0,80.0,80.0,60.0
2,Venusaur,Normal,Grass,Poison,525.0,80.0,82.0,83.0,100.0,100.0,80.0
3,Mega Venusaur,Normal,Grass,Poison,625.0,80.0,100.0,123.0,122.0,120.0,80.0
4,Charmander,Normal,Fire,NaN,309.0,39.0,52.0,43.0,60.0,50.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...
1023,Zacian Hero of Many Battles,Legendary,Fairy,NaN,670.0,92.0,130.0,115.0,80.0,115.0,138.0
1024,Zamazenta Crowned Shield,Legendary,Fighting,Steel,720.0,92.0,130.0,145.0,80.0,145.0,128.0
1025,Zamazenta Hero of Many Battles,Legendary,Fighting,NaN,670.0,92.0,130.0,115.0,80.0,115.0,138.0
1026,Eternatus,Legendary,Poison,Dragon,690.0,140.0,85.0,95.0,145.0,95.0,130.0
1027,Eternatus Eternamax,Legendary,Poison,Dragon,1125.0,255.0,115.0,250.0,125.0,250.0,130.0

***Tratar valores ausentes: Identifique valores nulos ou ausentes e aplique as ações necessárias para corrigi-los (preenchimento ou remoção).***

In [11]:
df_filled = df_cleaned.ffill()
df_filled

,name,status,type_1,type_2,total_points,hp,attack,defense,sp_attack,sp_defense,speed
0,Bulbasaur,Normal,Grass,Poison,318.0,45.0,49.0,49.0,65.0,65.0,45.0
1,Ivysaur,Normal,Grass,Poison,405.0,60.0,62.0,63.0,80.0,80.0,60.0
2,Venusaur,Normal,Grass,Poison,525.0,80.0,82.0,83.0,100.0,100.0,80.0
3,Mega Venusaur,Normal,Grass,Poison,625.0,80.0,100.0,123.0,122.0,120.0,80.0
4,Charmander,Normal,Fire,Poison,309.0,39.0,52.0,43.0,60.0,50.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...
1023,Zacian Hero of Many Battles,Legendary,Fairy,Steel,670.0,92.0,130.0,115.0,80.0,115.0,138.0
1024,Zamazenta Crowned Shield,Legendary,Fighting,Steel,720.0,92.0,130.0,145.0,80.0,145.0,128.0
1025,Zamazenta Hero of Many Battles,Legendary,Fighting,Steel,670.0,92.0,130.0,115.0,80.0,115.0,138.0
1026,Eternatus,Legendary,Poison,Dragon,690.0,140.0,85.0,95.0,145.0,95.0,130.0
1027,Eternatus Eternamax,Legendary,Poison,Dragon,1125.0,255.0,115.0,250.0,125.0,250.0,130.0

***Filtrar Pokémon proibidos: Exclua do conjunto de dados todos os Pokémon que pertencem às seguintes categorias:***
* Lendários e Sub-lendários
* Míticos
* Pokémon com MegaEvoluções

In [12]:
df_filtered = df_filled[(~df_filled['status'].isin(['Legendary', 'Sub Legendary', 'Mythical', 'Mega']))]
df_filtered

,name,status,type_1,type_2,total_points,hp,attack,defense,sp_attack,sp_defense,speed
0,Bulbasaur,Normal,Grass,Poison,318.0,45.0,49.0,49.0,65.0,65.0,45.0
1,Ivysaur,Normal,Grass,Poison,405.0,60.0,62.0,63.0,80.0,80.0,60.0
2,Venusaur,Normal,Grass,Poison,525.0,80.0,82.0,83.0,100.0,100.0,80.0
3,Mega Venusaur,Normal,Grass,Poison,625.0,80.0,100.0,123.0,122.0,120.0,80.0
4,Charmander,Normal,Fire,Poison,309.0,39.0,52.0,43.0,60.0,50.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...
1017,Arctovish,Normal,Water,Ice,505.0,90.0,90.0,100.0,80.0,90.0,55.0
1018,Duraludon,Normal,Steel,Dragon,535.0,70.0,95.0,115.0,120.0,50.0,85.0
1019,Dreepy,Normal,Dragon,Ghost,270.0,28.0,60.0,30.0,40.0,30.0,82.0
1020,Drakloak,Normal,Dragon,Ghost,410.0,68.0,80.0,50.0,60.0,50.0,102.0
1021,Dragapult,Normal,Dragon,Ghost,600.0,88.0,120.0,75.0,100.0,75.0,142.0