# Exercicio feito junto ao Luiz Flávio e Gabriel R.
# Questões no repósitorio do Luiz: LuizTech01

---

In [1]:
import pandas as pd
import numpy as np

***Crie e exiba um dataframe musicas com informações sobre suas músicas favoritas ( 5 músicas ):***
* id_musica– identificador da música.
* nome_musica–nome da música.
* artista– nome do artista ou banda
* genero–gênero musical (Pop, Rock, Jazz, etc.)
* duracao–duração da música em minutos.

In [2]:
music = {
    'id_musica': [122, 103, 132, 14, 22, None],
    'nome_musica': ['Olhos de tigre', 'Ate jesus chorou', 'Corporacao capsula', 'Negro Drama', 'UFA', None],
    'artista': ['Djonga', 'Racionai`s MC`s', 'Major RD', 'Racionai`s MC`s', 'Djonga', None],
    'genero': ['Rap', 'Rap', 'Rock', 'Rap', 'Rap', None],
    'duracao': ['4:44', '7:52', '2:12', '5:36','5:55', None]
}

df_music = pd.DataFrame(music)
df_music

   id_musica         nome_musica          artista genero duracao
0      122.0      Olhos de tigre           Djonga    Rap    4:44
1      103.0    Ate jesus chorou  Racionai`s MC`s    Rap    7:52
2      132.0  Corporacao capsula         Major RD   Rock    2:12
3       14.0         Negro Drama  Racionai`s MC`s    Rap    5:36
4       22.0                 UFA           Djonga    Rap    5:55
5        NaN                None             None   None    None

***Crie e exiba um dataframe reproducoes dessas musicas:***
* id_reproducao– identificador único da reprodução.
* id_musica– identificador da música reproduzida.
* data_reproducao– data da reprodução.
* duracao_reproducao– duração da reprodução (caso o usuário não ouça a música completa).

In [3]:
reproducoes = {
    'id_musica': [122, 103, 132, 14, 22, None],
    'id_reproducao': [1, 2, 3, 4, 5, None],
    'data_reproducao': ['2024-09-26', '2024-09-27', '2024-09-28', '2024-09-29', '2024-09-30', None],
    'duracao_reproducao': [300, 180, 120, 240, 280, None]
}

df_reproducao = pd.DataFrame(reproducoes)
df_reproducao

   id_musica  id_reproducao data_reproducao  duracao_reproducao
0      122.0            1.0      2024-09-26               300.0
1      103.0            2.0      2024-09-27               180.0
2      132.0            3.0      2024-09-28               120.0
3       14.0            4.0      2024-09-29               240.0
4       22.0            5.0      2024-09-30               280.0
5        NaN            NaN            None                 NaN

***Simule 5 reproduções de diferentes músicas, associando o id_musica com a data e a duração reproduzida.***

In [4]:
simula_5 = pd.concat([df_reproducao, df_music], axis=1)
simula_5

,id_musica,id_reproducao,data_reproducao,duracao_reproducao,id_musica,nome_musica,artista,genero,duracao
0,122.0,1.0,2024-09-26,300.0,122.0,Olhos de tigre,Djonga,Rap,4:44
1,103.0,2.0,2024-09-27,180.0,103.0,Ate jesus chorou,Racionai`s MC`s,Rap,7:52
2,132.0,3.0,2024-09-28,120.0,132.0,Corporacao capsula,Major RD,Rock,2:12
3,14.0,4.0,2024-09-29,240.0,14.0,Negro Drama,Racionai`s MC`s,Rap,5:36
4,22.0,5.0,2024-09-30,280.0,22.0,UFA,Djonga,Rap,5:55
5,NaN,NaN,None,NaN,NaN,None,None,None,None

***Realize um merge entre os dataframes musicas e reproducoes, combinando-os pela coluna id_musica.***

In [5]:
simula = pd.merge(df_reproducao, df_music, on='id_musica', how='inner')[['id_musica', 'data_reproducao', 'duracao_reproducao']]
simula

   id_musica data_reproducao  duracao_reproducao
0      122.0      2024-09-26               300.0
1      103.0      2024-09-27               180.0
2      132.0      2024-09-28               120.0
3       14.0      2024-09-29               240.0
4       22.0      2024-09-30               280.0
5        NaN            None                 NaN