# Exercicio feito junto ao Luiz Flávio e Gabriel R.
# Questões no repósitorio do Luiz: LuizTech01

---

In [1]:
import pandas as pd
import numpy as np

***Crie e exiba um dataframe musicas com informações sobre suas músicas favoritas ( 5 músicas ):***
* id_musica– identificador da música.
* nome_musica–nome da música.
* artista– nome do artista ou banda
* genero–gênero musical (Pop, Rock, Jazz, etc.)
* duracao–duração da música em minutos.

In [2]:
music = {
    'id_musica': [122, 103, 132, 14, 22, None],
    'nome_musica': ['Olhos de tigre', 'Ate jesus chorou', 'Corporacao capsula', 'Negro Drama', 'UFA', None],
    'artista': ['Djonga', 'Racionai`s MC`s', 'Major RD', 'Racionai`s MC`s', 'Djonga', None],
    'genero': ['Rap', 'Rap', 'Rock', 'Rap', 'Rap', None],
    'duracao': ['4:44', '7:52', '2:12', '5:36','5:55', None]
}

df_music = pd.DataFrame(music)
df_music

   id_musica         nome_musica          artista genero duracao
0      122.0      Olhos de tigre           Djonga    Rap    4:44
1      103.0    Ate jesus chorou  Racionai`s MC`s    Rap    7:52
2      132.0  Corporacao capsula         Major RD   Rock    2:12
3       14.0         Negro Drama  Racionai`s MC`s    Rap    5:36
4       22.0                 UFA           Djonga    Rap    5:55
5        NaN                None             None   None    None

***Crie e exiba um dataframe reproducoes dessas musicas:***
* id_reproducao– identificador único da reprodução.
* id_musica– identificador da música reproduzida.
* data_reproducao– data da reprodução.
* duracao_reproducao– duração da reprodução (caso o usuário não ouça a música completa).

In [3]:
reproducoes = {
    'id_musica': [122, 103, 132, 14, 22, None],
    'id_reproducao': [1, 2, 3, 4, 5, None],
    'data_reproducao': ['2024-09-26', '2024-09-27', '2024-09-28', '2024-09-29', '2024-09-30', None],
    'duracao_reproducao': [300, 180, 120, 240, 280, None]
}

df_reproducao = pd.DataFrame(reproducoes)
df_reproducao

   id_musica  id_reproducao data_reproducao  duracao_reproducao
0      122.0            1.0      2024-09-26               300.0
1      103.0            2.0      2024-09-27               180.0
2      132.0            3.0      2024-09-28               120.0
3       14.0            4.0      2024-09-29               240.0
4       22.0            5.0      2024-09-30               280.0
5        NaN            NaN            None                 NaN

***Simule 5 reproduções de diferentes músicas, associando o id_musica com a data e a duração reproduzida.***

In [4]:
simula_5 = pd.concat([df_reproducao, df_music], axis=1)
simula_5

,id_musica,id_reproducao,data_reproducao,duracao_reproducao,id_musica,nome_musica,artista,genero,duracao
0,122.0,1.0,2024-09-26,300.0,122.0,Olhos de tigre,Djonga,Rap,4:44
1,103.0,2.0,2024-09-27,180.0,103.0,Ate jesus chorou,Racionai`s MC`s,Rap,7:52
2,132.0,3.0,2024-09-28,120.0,132.0,Corporacao capsula,Major RD,Rock,2:12
3,14.0,4.0,2024-09-29,240.0,14.0,Negro Drama,Racionai`s MC`s,Rap,5:36
4,22.0,5.0,2024-09-30,280.0,22.0,UFA,Djonga,Rap,5:55
5,NaN,NaN,None,NaN,NaN,None,None,None,None

***Realize um merge entre os dataframes musicas e reproducoes, combinando-os pela coluna id_musica.***

In [5]:
simula = pd.merge(df_reproducao, df_music, on='id_musica', how='inner')[['id_musica', 'data_reproducao', 'duracao_reproducao']]
simula

   id_musica data_reproducao  duracao_reproducao
0      122.0      2024-09-26               300.0
1      103.0      2024-09-27               180.0
2      132.0      2024-09-28               120.0
3       14.0      2024-09-29               240.0
4       22.0      2024-09-30               280.0
5        NaN            None                 NaN

***Exiba o nome da música, o artista e a duração reproduzida para cada reprodução***

In [8]:
df_joined = pd.merge(df_reproducao, df_music, on='id_musica', how='left')
print(df_joined[['nome_musica', 'artista', 'duracao_reproducao']])

          nome_musica          artista  duracao_reproducao
0      Olhos de tigre           Djonga               300.0
1    Ate jesus chorou  Racionai`s MC`s               180.0
2  Corporacao capsula         Major RD               120.0
3         Negro Drama  Racionai`s MC`s               240.0
4                 UFA           Djonga               280.0
5                None             None                 NaN

***Atualize o dataframe de reproducoes, removendo um registro para simular que nem todas as músicas foram reproduzidas.***

In [9]:
# Remove um registro do dataframe de reproducoes
df_reproducao = df_reproducao.drop(df_reproducao.index[3])

# Realiza a junção entre os DataFrames
df_joined = pd.merge(df_music, df_reproducao, on='id_musica', how='left')

# Exibe o nome da música, o artista e a duração reproduzida para cada reprodução
print(df_joined[['nome_musica', 'artista', 'duracao_reproducao']])

          nome_musica          artista  duracao_reproducao
0      Olhos de tigre           Djonga               300.0
1    Ate jesus chorou  Racionai`s MC`s               180.0
2  Corporacao capsula         Major RD               120.0
3         Negro Drama  Racionai`s MC`s                 NaN
4                 UFA           Djonga               280.0
5                None             None                 NaN

***Realize o merge novamente e identifique os valores faltantes.***

In [10]:
# Realizanda o merge entre os DataFrames
df_resultado = pd.merge(df_reproducao, df_music, on='id_musica', how='outer')

# Identifica valores faltantes
valores_faltantes = df_resultado.isnull().sum()

# Exibinde o DataFrame resultante e os valores faltantes
print("DataFrame resultante do merge:")
print(df_resultado)

print("\nValores faltantes em cada coluna:")
print(valores_faltantes)

DataFrame resultante do merge:
   id_musica  id_reproducao data_reproducao  duracao_reproducao  \
0       14.0            NaN             NaN                 NaN
1       22.0            5.0      2024-09-30               280.0
2      103.0            2.0      2024-09-27               180.0
3      122.0            1.0      2024-09-26               300.0
4      132.0            3.0      2024-09-28               120.0
5        NaN            NaN            None                 NaN

          nome_musica          artista genero duracao
0         Negro Drama  Racionai`s MC`s    Rap    5:36
1                 UFA           Djonga    Rap    5:55
2    Ate jesus chorou  Racionai`s MC`s    Rap    7:52
3      Olhos de tigre           Djonga    Rap    4:44
4  Corporacao capsula         Major RD   Rock    2:12
5                None             None   None    None

Valores faltantes em cada coluna:
id_musica             1
id_reproducao         2
data_reproducao       2
duracao_reproducao    2
nome_musica           1
artista               1
genero                1
duracao               1
dtype: int64

***Preencha os valores faltantes com "Não Reproduzida".***

In [12]:
df_resultado.fillna("Não Reproduzida", inplace=True)
print(df_resultado)

         id_musica    id_reproducao  data_reproducao duracao_reproducao  \
0             14.0  Não Reproduzida  Não Reproduzida    Não Reproduzida
1             22.0              5.0       2024-09-30              280.0
2            103.0              2.0       2024-09-27              180.0
3            122.0              1.0       2024-09-26              300.0
4            132.0              3.0       2024-09-28              120.0
5  Não Reproduzida  Não Reproduzida  Não Reproduzida    Não Reproduzida

          nome_musica          artista           genero          duracao
0         Negro Drama  Racionai`s MC`s              Rap             5:36
1                 UFA           Djonga              Rap             5:55
2    Ate jesus chorou  Racionai`s MC`s              Rap             7:52
3      Olhos de tigre           Djonga              Rap             4:44
4  Corporacao capsula         Major RD             Rock             2:12
5     Não Reproduzida  Não Reproduzida  Não Reproduzida  Não Reproduzida

***Qual o gênero de música mais reproduzido? Use agrupamento para calcular isso.***

In [13]:
mais_tocadas = df_music['genero'].value_counts()
print(f'Mais tocadas {mais_tocadas}')

Mais tocadas genero
Rap     4
Rock    1
Name: count, dtype: int64

***Qual o total de minutos de música reproduzidos?***

In [14]:
soma_duracao = df_reproducao['duracao_reproducao'].sum()
print(f'Total de tempo reproduzido {soma_duracao}')

Total de tempo reproduzido 880.0

Crie uma nova coluna chamada avaliacao e atribua uma classificação de 1 a 5 para cada música com base em quanto você gosta dela.

In [20]:
avaliacoes = [5, 5, 5, 5, 5]
df_music['avaliacao'] = avaliacoes + [None]

df_music

   id_musica         nome_musica          artista genero duracao  avaliacao
0      122.0      Olhos de tigre           Djonga    Rap    4:44        5.0
1      103.0    Ate jesus chorou  Racionai`s MC`s    Rap    7:52        5.0
2      132.0  Corporacao capsula         Major RD   Rock    2:12        5.0
3       14.0         Negro Drama  Racionai`s MC`s    Rap    5:36        5.0
4       22.0                 UFA           Djonga    Rap    5:55        5.0
5        NaN                None             None   None    None        NaN