# Exercício 09:

***Use 3 dataframes criados na aula anterior, mostre
apenas o filme/série/anime com maior pontuação.***

In [3]:
import pandas as pd

In [4]:
# Dicionários da aula anterior
movie_dados = {
        'name': ['Hereditary', 'The Witch', 'Midsommar', 'Ender`s Game', 'Get Out'],
        'date': [2018, 2015, 2019, 2013, 2017],
        'score': [10, 9, 8, 10,9]
}
serie_dados = {
        'name': ['The Office', 'Game of Thrones', 'The Walking Dead', 'Friends', 'The Sopranos'],
        'date': [2005, 2011, 2010, 1994, 1999],
        'score': [10, 7, 5, 10, 9]
}
animation_dados = {
        'name': ['SpongeBob SquarePants', 'Adventure Time', 'Over the Garden Wall', 'Gravity Falls', 'Rick and Morty'],
        'date': [1999, 2010, 2014, 2012, 2013],
        'score': [8, 8, 10, 10, 10]
}

In [5]:
# Convertendo os dicionários em DataFrames
df_movies = pd.DataFrame(movie_dados)
df_series = pd.DataFrame(serie_dados)
df_animations = pd.DataFrame(animation_dados)

In [6]:
# Filme com a maior pontuação
best_movie = df_movies.loc[df_movies['score'].idxmax()]

In [7]:
# Série com a maior pontuação
best_serie = df_series.loc[df_series['score'].idxmax()]

In [8]:
# Animação com a maior pontuação
best_animation = df_animations.loc[df_animations['score'].idxmax()]

In [9]:
# Resultados
print("Melhor filme:")
print(best_movie)

print("\nMelhor série:")
print(best_serie)

print("\nMelhor animação:")
print(best_animation)

Melhor filme:
name     Hereditary
date           2018
score            10
Name: 0, dtype: object

Melhor série:
name     The Office
date           2005
score            10
Name: 0, dtype: object

Melhor animação:
name     Over the Garden Wall
date                     2014
score                      10
Name: 2, dtype: object

***Leia o arquivo do dataset em json.***

In [10]:
# Concatenando os DataFrames em um único DataFrame
df_combined = pd.concat([df_movies, df_series, df_animations], ignore_index=True)

In [11]:
# Convertendo o DataFrame para JSON
df_combined.to_json('json_exercicio09.json', orient='records', indent=4)

In [14]:
# Lendo o arquivo JSON
df_lido = pd.read_json('json_exercicio09.json')
print(df_lido)

                     name  date  score
0              Hereditary  2018     10
1               The Witch  2015      9
2               Midsommar  2019      8
3            Ender`s Game  2013     10
4                 Get Out  2017      9
5              The Office  2005     10
6         Game of Thrones  2011      7
7        The Walking Dead  2010      5
8                 Friends  1994     10
9            The Sopranos  1999      9
10  SpongeBob SquarePants  1999      8
11         Adventure Time  2010      8
12   Over the Garden Wall  2014     10
13          Gravity Falls  2012     10
14         Rick and Morty  2013     10

***Selecione apenas as 3 primeiras colunas do dataset***

In [44]:
df_selecionado = df_lido[['name', 'date', 'score']]
print(df_selecionado)

                     name  date  score
0              Hereditary  2018     10
1               The Witch  2015      9
2               Midsommar  2019      8
3            Ender`s Game  2013     10
4                 Get Out  2017      9
5              The Office  2005     10
6         Game of Thrones  2011      7
7        The Walking Dead  2010      5
8                 Friends  1994     10
9            The Sopranos  1999      9
10  SpongeBob SquarePants  1999      8
11         Adventure Time  2010      8
12   Over the Garden Wall  2014     10
13          Gravity Falls  2012     10
14         Rick and Morty  2013     10

***Selecione apenas as 10 primeiras linhas do dataset***

In [45]:
df_primeiras_linhas = df_lido.head(10)
print(df_primeiras_linhas)

               name  date  score
0        Hereditary  2018     10
1         The Witch  2015      9
2         Midsommar  2019      8
3      Ender`s Game  2013     10
4           Get Out  2017      9
5        The Office  2005     10
6   Game of Thrones  2011      7
7  The Walking Dead  2010      5
8           Friends  1994     10
9      The Sopranos  1999      9

***Utilize uma função para identificar o valor médio
da 1° coluna***

In [39]:
def calcular_media_score(dataframe):
    media = dataframe['score'].mean()
    return media

In [41]:
media_score = calcular_media_score(df_lido)
print(f"A média da coluna 'score' é: {media_score}")

A média da coluna 'score' é: 8.866666666666667

***Filtre o dataframe pegando apenas as linhas com valores maiores que essa média.***

In [43]:
df_filtrado = df_lido[df_lido['score'] > media_score]
print(df_filtrado)

                    name  date  score
0             Hereditary  2018     10
1              The Witch  2015      9
3           Ender`s Game  2013     10
4                Get Out  2017      9
5             The Office  2005     10
8                Friends  1994     10
9           The Sopranos  1999      9
12  Over the Garden Wall  2014     10
13         Gravity Falls  2012     10
14        Rick and Morty  2013     10

***Escolha uma coluna com valores textuais e filtre o dataframe pelo 1º valor***

In [49]:
primeiro_nome = df_lido['name'].iloc[0]

In [50]:
df_filtrado = df_lido[df_lido['name'] == primeiro_nome]
print(df_filtrado)

         name  date  score
0  Hereditary  2018     10

***Escolha uma coluna, como ano, titulo, etc e ordene seu dataframe tanto de forma crescente quanto decrescente***

In [51]:
# Ordenando o DataFrame pela coluna 'date' (ano) de forma crescente
df_ordenado_crescente = df_lido.sort_values(by='date', ascending=True)
print(df_ordenado_crescente)

                     name  date  score
8                 Friends  1994     10
9            The Sopranos  1999      9
10  SpongeBob SquarePants  1999      8
5              The Office  2005     10
11         Adventure Time  2010      8
7        The Walking Dead  2010      5
6         Game of Thrones  2011      7
13          Gravity Falls  2012     10
3            Ender`s Game  2013     10
14         Rick and Morty  2013     10
12   Over the Garden Wall  2014     10
1               The Witch  2015      9
4                 Get Out  2017      9
0              Hereditary  2018     10
2               Midsommar  2019      8

In [52]:
# Ordenando o DataFrame pela coluna 'date' (ano) de forma decrescente
df_ordenado_decrescente = df_lido.sort_values(by='date', ascending=False)
print("Ordenado de forma decrescente pela coluna 'date':")
print(df_ordenado_decrescente)

Ordenado de forma decrescente pela coluna 'date':
                     name  date  score
2               Midsommar  2019      8
0              Hereditary  2018     10
4                 Get Out  2017      9
1               The Witch  2015      9
12   Over the Garden Wall  2014     10
14         Rick and Morty  2013     10
3            Ender`s Game  2013     10
13          Gravity Falls  2012     10
6         Game of Thrones  2011      7
11         Adventure Time  2010      8
7        The Walking Dead  2010      5
5              The Office  2005     10
9            The Sopranos  1999      9
10  SpongeBob SquarePants  1999      8
8                 Friends  1994     10