#Exercício 07:

***Crie uma lista com 5 nomes de filmes que você goste.***

***Crie uma 2a lista com o ano de lançamento desses 5 filmes (pode pesquisar, eu deixo). Tranforme isso em um dataframe;***

***Adicione uma nova coluna com a nota, de 1 a 10, de quanto você gosta deles;***

***Crie mais 2 dataframes, de séries e anime/desenhos que você gosta, com as mesmas colunas acima.***

***Salve os 3 dataframes em 'csv', 'json' e 'html' e nos envie os arquivos.***

***Concatene horizontalmente os 3 dataframes, ficando 9 colunas no final.***

In [16]:
import pandas as pd

In [17]:
movie_dados = {
        'name': ['Hereditary', 'The Witch', 'Midsommar', 'Ender`s Game', 'Get Out'],
        'date': [2018, 2015, 2019, 2013, 2017]
}

In [20]:
movies = pd.DataFrame(movie_dados)
print(movies)

           name  date  score
0    Hereditary  2018     10
1     The Witch  2015      9
2     Midsommar  2019      8
3  Ender`s Game  2013     10
4       Get Out  2017      9

In [21]:
movie_dados['score'] = [10, 9, 8, 10,9]

In [22]:
serie_dados = {
        'name': ['The Office', 'Game of Thrones', 'The Walking Dead', 'Friends', 'The Sopranos'],
        'date': [2005, 2011, 2010, 1994, 1999],
        'score': [10, 7, 5, 10, 9]
}

In [23]:
series = pd.DataFrame(serie_dados)
print(series)

               name  date  score
0        The Office  2005     10
1   Game of Thrones  2011      7
2  The Walking Dead  2010      5
3           Friends  1994     10
4      The Sopranos  1999      9

In [24]:
animation_dados = {
        'name': ['SpongeBob SquarePants', 'Adventure Time', 'Over the Garden Wall', 'Gravity Falls', 'Rick and Morty'],
        'date': [1999, 2010, 2014, 2012, 2013],
        'score': [8, 8, 10, 10, 10]
}

In [25]:
animations = pd.DataFrame(animation_dados)
print(animations)

                    name  date  score
0  SpongeBob SquarePants  1999      8
1         Adventure Time  2010      8
2   Over the Garden Wall  2014     10
3          Gravity Falls  2012     10
4         Rick and Morty  2013     10

In [26]:
def salvar_dataframes(df, nome_base):
    df.to_csv(f'{nome_base}.csv', index=False)
    df.to_json(f'{nome_base}.json', orient='records', lines=True)
    df.to_html(f'{nome_base}.html', index=False)
    print(f"Dataframes salvos como {nome_base}.csv, {nome_base}.json e {nome_base}.html")

In [27]:
salvar_dataframes(movies, 'Filmes')
salvar_dataframes(series, 'Series')
salvar_dataframes(animations, 'Animações')

Dataframes salvos como Filmes.csv, Filmes.json e Filmes.html
Dataframes salvos como Series.csv, Series.json e Series.html
Dataframes salvos como Animações.csv, Animações.json e Animações.html

In [30]:
df_contatenar = pd.concat([movies, series, animations], axis=1)
df_contatenar

,name,date,score,name,date,score,name,date,score
0,Hereditary,2018,10,The Office,2005,10,SpongeBob SquarePants,1999,8
1,The Witch,2015,9,Game of Thrones,2011,7,Adventure Time,2010,8
2,Midsommar,2019,8,The Walking Dead,2010,5,Over the Garden Wall,2014,10
3,Ender`s Game,2013,10,Friends,1994,10,Gravity Falls,2012,10
4,Get Out,2017,9,The Sopranos,1999,9,Rick and Morty,2013,10